@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion / 4);
    margin: 0 0 0 3rem;
    color: v.$blanco;
    width: 90%;
    display: block;
    margin-bottom:  2rem;
    text-align: center;
    font-weight: v.$bold;

    &.error {
        background-color: v.$rojo;
        border-radius: 5px;
    }

    &.exito {
        border-radius: 5px;
        background-color: v.$verde;
    }
}